In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [362]:
with open("data13.txt", "r") as file:
    data = str(file.read())

In [363]:
#coordinates
data=data.split('\n')
foldings=data[-12::]
coordinates=data[:len(data)-13]
coordinates=[a.split(',') for a in coordinates]
coordinates=np.array(coordinates)
coordinates=[int(a) for a in coordinates.flatten()]
coordinates=np.array(coordinates)
coordinates=pd.DataFrame(coordinates.reshape(int(len(coordinates)/2),2))
max_x=coordinates[0].max()
max_y=coordinates[1].max()
max_y,max_x
matrix=np.array(np.zeros([max_y+1,max_x+1]))
for (x,y) in zip(coordinates[1],coordinates[0]):
    matrix[x][y]=1

In [370]:
y1=447

In [371]:
#y1=655
x1=447
#y2=327
x2=223
#y3=163
x3=111
#y4=81
x4=55
#y5=40
x5=27
x6=13
x7=6

In [372]:
y1*2

894

In [366]:
matrix=matrix.T
matrix.shape

(1311, 893)

In [367]:
upper_half=matrix[:y1]
lower_half=matrix[y1+1:]

In [368]:
upper_half.shape,lower_half.shape

((655, 893), (655, 893))

In [369]:
matrix=upper_half+np.flip(lower_half,axis=0)
matrix=matrix.clip(0,1)
matrix.sum(), matrix.shape

(621.0, (655, 893))

In [244]:
foldings=[a.split(' ') for a in foldings]

In [84]:
foldings_list=[]
for i in range(0,len(foldings)):
    a=foldings[i][2]
    foldings_list.append(a)

In [85]:
foldings_list=[a.split('=') for a in foldings_list]

In [86]:
foldings_list

[['x', '655'],
 ['y', '447'],
 ['x', '327'],
 ['y', '223'],
 ['x', '163'],
 ['y', '111'],
 ['x', '81'],
 ['y', '55'],
 ['x', '40'],
 ['y', '27'],
 ['y', '13'],
 ['y', '6']]

In [315]:
coordinates

        0    1
0     323  511
1    1240  588
2    1210  140
3     641  365
4      23  232
..    ...  ...
727   142  156
728   137  323
729    72  861
730    87  829
731   900  338

[732 rows x 2 columns]